---
title: CompSoc - University of Canterbury Computer Society
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="anchor-footer">
	<main>
		<section class="homepage-splash">
		{% include header.html %}

		<section class="homepage-primary-text primary-content">
			<h1 class="short-tagline">kia_ora()</h1>
			<h2 class="long-tagline">CompSoc is the club for UC students studying Computer Science and Software Engineering, and Mathematics and Statistics.</h2>
			<!-- This is a holding page until the site is actually remade -->
			<h3 class="long-tagline">Please visit <a href="https://www.compsoc.org.nz">the 2022 CompSoc website</a></h3>
			<div class="join-us-button-container">
				<form class="join-us-button" action="/">
					<input class="join-us-button disabled" type="submit" value="Join us for 2023"
						onclick="alert('2023 sign up form not implemented')" />
				</form>
		</div>
		</section>
		</section>

		<section>
		{% include lorem-ipsum.html %}
		</section>

		{% include footer.html %}

	</main>

</body>

</html>
