<footer>
	<div class="footer-container primary-content">
		<nav class="nav">
			<p>University of Canterbury Computer Society
				<br>
			TODO: add some links here e.g. to the GitHub repo of this website</p>
			<ul class="nav-links">
				<li><a class="nav-link footer-social-media-icon" href="https://www.facebook.com/UCCompSoc/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a class="nav-link footer-social-media-icon" href="https://twitter.com/uccompsoc"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a class="nav-link footer-social-media-icon" href="https://www.instagram.com/uccompsoc/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a class="nav-link footer-social-media-icon" href="https://www.linkedin.com/company/uccompsoc/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				<li><a class="nav-link footer-social-media-icon" href="https://discord.gg/kTajFRPaX6"><i class="fa fa-discord-alt" aria-hidden="true"></i></a></li>
				<li><a class="nav-link footer-social-media-icon" href="https://github.com/uccompsoc"><i class="fa fa-github" aria-hidden="true"></i></a></li>
				<li><a class="nav-link footer-social-media-icon" href="mailto:joinus@compsoc.org.nz"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
				<!-- hypothetical social media ideas --> 
				<!--
				<li><a class="nav-link footer-social-media-icon disabled" href="javascript:alert('CompSoc does not yet have a Mastodon account on any instance')"><i class="fa fa-mastodon" aria-hidden="true"></i></a></li>
				<li><a class="nav-link footer-social-media-icon disabled" href="javascript:alert('CompSoc does not yet have an IRC server')"><span class="narrow-irc">IRC</span></a></li>
				<li><a class="nav-link footer-social-media-icon disabled" href="javascript:alert('CompSoc does not yet have a Matrix account on any instance')"><i class="fa fa-matrix-org" aria-hidden="true"></i></a></li>
				-->
			</ul>
		</nav>
		<span class="nav-footer-wordmark">
			<!-- TODO: as per below text -->
			<a href="/">
				<img src="/assets/img/wordmark-light.svg" alt="CompSoc wordmark" class="nav-logo nav-footer-logo">
			</a>
		</span>
	</div>
</footer>
