<div class="footer-container">
    <nav class="nav">
        <ul class="nav-footer-links">
            <li><a class="nav-link" href="https://www.facebook.com/UCCompSoc/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a class="nav-link" href="https://twitter.com/uccompsoc"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a class="nav-link" href="https://www.instagram.com/uccompsoc/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a class="nav-link" href="https://www.linkedin.com/company/uccompsoc/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a class="nav-link" href="https://discord.gg/kTajFRPaX6"><i class="fa fa-discord" aria-hidden="true"></i></a></li>
            <li><a class="nav-link" href="https://github.com/uccompsoc"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a class="nav-link" href="mailto:joinus@compsoc.org.nz"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <!-- TODO: mastodon, IRC(?), Matrix (?) -->
        </ul>
    </nav>
    <span class="nav-footer-something">
        <!-- TODO: as per below text -->
        <p>TODO: wordmark here as img, with alt text</p>
    </span>
</div>