<div class="header-container">
	<nav class="nav">
		<span class="nav-header-logo">
			<a href="/">
				<!-- TODO: update logo to transparent -->
				<img src="/assets/img/logo-dark.png" alt="CompSoc logo" class="logo">
			</a>
		</span>
		<ul class="nav-header-links">
			<!-- link to homepage feels redundant - that's what the a tag on the logo is for... -->
			<li><a class="nav-link" href="/">Home</a></li>
			<li><a class="nav-link" href="/sponsorship">Sponsorship</a></li>
			<li><a class="nav-link" href="/contact-us">Contact</a></li>
		</ul>
	</nav>
</div>