<!-- The header navigation bar -->
<!-- adapted from https://github.com/ausesa/ausesa.github.com/blob/master/_includes/nav.html -->
<header>
	<nav class="nav primary-content">
		<a href="/">
			<!-- TODO: use wordmark on wide viewports -->
			<img src="/assets/img/icon-light.svg" alt="CompSoc icon - /* " class="nav-logo nav-header-logo">
		</a>

		<nav class="nav right-align">
			<a class="mobile-burger"><i class="fa fa-bars" aria-hidden="true"></i></a>

			<!-- using div as container, so that menu overlay can use 100% height without changing li vetical gaps -->
			<div class="nav-header-menu">
				<ul class="nav-links nav-header-links">

					<li>
						<a class="nav-link nav-header-link mobile-exit">
							<i class="fa fa-times" aria-hidden="true"></i>
						</a>
					</li>
					<li><a class="nav-link nav-header-link" href="/about-us">About</a></li>
					<li><a class="nav-link nav-header-link" href="/events">Events</a></li>
					<li><a class="nav-link nav-header-link" href="/sponsorship">Sponsorship</a></li>
					<li><a class="nav-link nav-header-link" href="/contact-us">Contact</a></li>
				</ul>
			</div>
		</nav>
	</nav>
</header>