/* Load fonts from first-party origin, for privacy reasons */
@font-face {
	font-family: "Overpass Mono";
	src: url(/assets/fonts/overpass-mono-regular.woff2);
}

@font-face {
	font-family: "Lato";
	src: url(/assets/fonts/Lato-Regular.woff2);
}

* {
	margin: 0;
	padding: 0;
	/* include padding and border in width and height for a given element */
	box-sizing: border-box;

	/* crude element border visualisation for debug (frequent meta-tag auto refresh got annoying with using browser devtools to see HTML element outlines) */

	/*
	padding: 5px;
	border-radius: 1px;
	border-color: red;
	border-style: dotted; 
	*/
}

.primary-content {
	max-width: 70%;
	margin: auto;
}

.mid-page-content {
	padding: 2rem 0;
}

.sponsor-box {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;
}

.sponsors-center {
	text-align: center;
	justify-content: center;
}

@media screen and (max-width: 1000px) {
	.primary-content {
		max-width: 95%;
	}
}

.homepage-splash {
	background-image: url(/assets/img/homepage_background.jpg), linear-gradient(rgba(10,10,10,0.7),rgba(10,10,10,0.7));
	background-blend-mode: overlay;
	background-size: cover;
	/* not necessary due to above line? */
	background-repeat: no-repeat;
	background-position: center 60%;

	/* homepage image takes up at least 50% of the viewport */
	min-height: 50vh;

	color: yellow; /* temporary */

	display: flex;
	flex-direction: column;
}

.nav {
	display: flex;
	/* necessary? */
	width: 100%;
	max-height: 100%;
	/* justify-content: space-between; */
	align-items: center;
}

.nav .show {
	right: 0;
}

.nav-logo {
	/* causes parent a to be placed under the img otherwise - img is inline by default */
	display: block;
	margin: 1rem 0;
	max-width: 100%;
}

.nav-header-logo {
	height: 4rem;
}

.nav-footer-logo {
	height: 2rem;
}

/* right align child in parent 'display: flex' */
.right-align {
	margin-left: auto;
	width: max-content;
}

/* right align nav links */
.nav-links {
	margin-left: auto;
	/* vertically align links to center */
	display: flex;
	list-style: none;
	/* needed for nav menu */
	align-items: center;
}

.nav-link {
	color: inherit;
	text-decoration: none;
	font-family: "Overpass Mono";
	font-size: 16px;
	padding: 0px 15px;
}

.nav-link:hover {
	text-decoration: underline;
}

/* SESA */


/* TODO: write JS to detect overflow of navbar items, and auto switch to burger icon */

@media screen and (max-width: 600px) {
	/* Super janky way to display the menu without requiring the separate nav menu. TODO: cleanup */
	.nav-header-links {
		display: grid !important; /* nav-links normally overrides this */
		justify-items: end;
		
		/* background-color: #1E2950; */
		
		/* gap: 0px; */
		position: relative;

	}

	.nav-header-link {
		position: relative;
		font-size: 20px;
		margin: 0px;
		/* not aligned to the checkbox, TODO: fix */
		padding-right: 12px;

		display: block;
		
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.nav-header-menu {
		position: fixed;
		width: 50%;
		height: 100%;

		right: 100%;
		top: 0;

		background-color: black;
		
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		
		transform-origin: 0% 0%;
		transform: none;
		/* margin-right: auto; */
	}

	.mobile-burger {
		display: flex !important;
	}

	.homepage-primary-text {
		padding: 50px 0 !important;
		max-width: 100% !important;
	}

	.long-tagline {
		font-size: 25px !important;
		line-height: 1.4;
	}

	.two-column {
		grid-template-columns: 1fr !important;
	}
}

.mobile-burger {
	flex-direction: column;
	justify-content: space-between;
	display: none;
	cursor: pointer;
	font-size: 4rem;
	color: white;
}

/* Not perfect padding/positioning of the close button (menu and close are independent) */
.mobile-exit {
	cursor: pointer;
	font-size: 4rem;
	padding-top: 10px !important;
	padding-bottom: 20px;
	padding-right: -5%;
}

.homepage-primary-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	padding: 150px 0;
	max-width: 70%;
}

.center {
	margin: auto;
	display: flex;
	justify-content: center;
}

.text-center {
	text-align: center;
}

.short-tagline {
	font-family: "Overpass Mono";
	font-size: 45px;
	padding-bottom: 40px;
}

.long-tagline {
	font-family: "Lato";
	font-size: 35px;
	padding-bottom: 30px;
	/* h2 defaults to bold */
	font-weight: normal;
}

.long-tagline a:link, .long-tagline a:visited {
	color: inherit;
}

.rounded-edges {
	border-radius: 10px;
}

.join-us-button {
	color: black;
	font-family: "Overpass Mono";
	font-size: 20px;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	width: fit-content;
}

.join-us-button:hover {
	cursor: pointer;
}

.two-column {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr 1fr;
}

.two-column-left {
	float: left;
}

.two-column-right {
	float: right
}

.two-column-item {
	width: 100%;
	/* object-fit: cover; */
	padding: 20px;
}

.text-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-paragraph-text {
	font-size: 25px;
	font-family: Overpass Mono;
	font-weight: 700;
}

.secondary-paragraph-text {
	font-size: 20px;
	font-family: Lato;
	font-weight: 400;
}

.anchor-footer {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

footer {
	width: 100%;
	background-color: #1E2950;
	/* this is what the anchor-footer class is for (in body)
	/* position: absolute; */
	position: relative;
	bottom: 0;
	color: white;
	padding: 20px 0;
	margin-top: 50px;
}

.footer-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.footer-social-media-icon {
	font-size: 1.25rem;
}

.nav-footer-wordmark {
	display: flex;
	justify-content: center;
	height: 100%;
	max-width: 100%;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.narrow-irc {
	letter-spacing: -3px;
}
